---
import MetaTags, { type MetaProps } from "./MetaTags.astro";
import "../styles/global.css";
// props
export interface Props {
  meta: MetaProps;
}

const { meta } = Astro.props;
---

<!doctype html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[20px]">
  <head>
    <MetaTags {...meta} />
  </head>
  <body class="antialiased">
    <slot />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
