---
import PageLayout from "./PageLayout.astro";
import { SITE } from "../../config.mjs";
import { proseCSS } from "../helpers/apps";
const { frontmatter } = Astro.props;
const { title } = frontmatter;
const meta = {
  title: `${title} — ${SITE.name}`,
  description: frontmatter.description,
};
---

<PageLayout {meta}>
  <section
    class="md:min-h-screen px-6 sm:px-6 py-6 sm:py-10 lg:py-14 mb-20 mx-auto max-w-3xl"
  >
    <main class={proseCSS}>
      <div class="bg-blue-50">
        <slot />
      </div>
    </main>
  </section>
</PageLayout>
