---
import HeaderLink from "./HeaderLink.astro";
import ToggleMenu from "./ToggleMenu.astro";

const { pathname } = Astro.url;
const currentPath = pathname.slice(1).replace(/\.\w+$/, "");
---

<style is:inline>
  html {
    scroll-padding-top: 80px; /* The header has 72px height and we add some padding */
  }
</style>
<header
  class="sticky top-0 z-40 flex-none mx-auto w-full bg-slate-950 md:bg-slate-950/90 md:backdrop-blur-sm border-b-0"
>
  <div
    class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4"
  >
    <div class="flex justify-between">
      <a class="flex items-center" href="/">
        <span
          class="self-center ml-2 text-2xl font-extrabold whitespace-nowrap text-white"
        >
          Julian Beck
        </span>
      </a>
      <div class="flex items-center md:hidden">
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="items-center w-full md:w-auto hidden md:flex text-slate-200 h-screen md:h-auto"
      aria-label="Main navigation"
      id="menu"
    >
      <ul
        class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto collapsed text-xl md:text-base"
      >
        <HeaderLink href="/apps">Apps</HeaderLink>
        <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
        <li>
          <a
            class="font-medium hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
            href="https://blog.julianbeck.com"
            target="_blank">Blog</a
          >
        </li>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/contact" class="md:hidden">Contact</HeaderLink>
      </ul>
    </nav>
  </div>
</header>
<script type="module" is:inline data-astro-rerun>
  function attachEvent(selector, event, fn) {
    const matches = document.querySelectorAll(selector);
    if (matches?.length > 0) {
      for (const element of matches) {
        element.addEventListener(
          event,
          () => {
            fn(element);
          },
          false
        );
      }
    }
  }

  window.onload = () => {
    attachEvent("[data-toggle-menu]", "click", (element) => {
      element.classList.toggle("expanded");
      document.body.classList.toggle("overflow-hidden");
      document.getElementById("menu")?.classList.toggle("hidden");
    });
  };

  window.onpageshow = () => {
    const element = document.querySelector("[data-toggle-menu]");
    if (element) {
      element.classList.remove("expanded");
    }
    document.body.classList.remove("overflow-hidden");
    document.getElementById("menu")?.classList.add("hidden");
  };
</script>
