---
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Position from "../../components/Position.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getAppDetails } from "../../helpers/apps";
import { getCollection } from "astro:content";
import MetaTags from "../../layouts/MetaTags.astro";

export async function getStaticPaths() {
  const apps = await getCollection("app", ({ data }) => data.isIOSApp);

  return apps.map((app) => {
    return {
      params: { slug: app.slug },
      props: { app: app },
    };
  });
}
const { app } = Astro.props;
const appDetails = await getAppDetails(app);

---

<!doctype html>
<html lang="en">
  <head>
    <MetaTags title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <title>Julian Beck</title>
    <link rel="manifest" href="/static/manifest.json" />
    <meta
      name="description"
      content="Julian Beck, Student, FullStack and iOS Developer"
    /><title>Julian Beck</title>
    <link rel="manifest" href="/static/manifest.json" />
    <meta
      name="description"
      content="Julian Beck, Student, FullStack and iOS Developer"
    />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="container mt-10"></div>
    </main>
    <Footer />
  </body>
</html>
