---
import { getAppDetails } from "../../helpers/apps";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const apps = await getCollection("app", ({ data }) => data.isIOSApp);

  return apps.map((app) => {
    return {
      params: { slug: app.slug },
      props: { app: app },
    };
  });
}
const { app } = Astro.props;
const appDetails = await getAppDetails(app);
---

<div>
</div>
