---
const today = new Date();
---

<footer>
  <div class="flex justify-center mt-8 mb-5 font-medium text-gray-300">
    <a target="_blank" href="https://github.com/julianfbeck"> GitHub</a>
    <span class="mx-2 font-bold">·</span>
    <a target="_blank" href="https://www.linkedin.com/in/julian-beck/">
      LinkedIn
    </a>
    <span class="mx-2 font-bold">·</span>
    <a target="_blank" href="https://twitter.com/julianfbeck"> Twitter</a>
    <span class="mx-2 font-bold">·</span>
    <a target="_blank" href="https://blog.julianbeck.com"> Blog</a>
  </div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
